:root {
  ---primary-blue-color: #1292ae;
  ---primary-grayis-color: #7bc1b7;
  ---popins-font:  font-family: "Poppins", serif;
    /* font-weight: 400;
    font-style: normal; */
}

/*  all icons code is here  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  
}

body {
  font-family: "Roboto", serif;
  /* font-weight: 100; */
  font-style: normal;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  position: sticky;
  top: 10px;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #eaf6f6;  
  transition: all .2s ease-in-out;
  font-size: 2rem;
  z-index: 2;
  /* box-shadow: 2px 2px 2px 10px  black; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  
}

header.scrolled{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #ffffff;
  margin: 0px 20px;
  border-radius: 20px;
}
header .logo img {
  width: 100px;
  height: auto;
}
header a {
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  color: #000;
  font-weight: 500;
  
}
 header nav a:hover{
  letter-spacing: .5px;
  box-shadow: 2px 2px 1px var(---primary-blue-color);
  border: 2px var(---primary-blue-color) solid;
  transition: all .3s ease-in-out;
 }
header .menu-icon {
  display: none;
}

header a.talk-btn {
  background: rgb(18, 146, 174, 0.5);
  background: linear-gradient(
    90deg,
    rgba(18, 146, 174, 1) 12%,
    rgba(123, 193, 183, 1) 100%
  );
  color: white;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.8rem;
}
.hero {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #eaf6f6;
  /* flex-wrap: wrap; */
}
.hero-cards{
  display: flex;
  padding: 10px 20px;
  
  align-items: center;
  justify-content: space-around;
  color: white;
  margin-top: 50px;
  max-width: 600px;
  background: var(---primary-blue-color);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background: linear-gradient(
    90deg,
    rgba(18, 146, 174, 1) 12%,
    rgba(123, 193, 183, 1) 100%
  ); */
}
  #mid-wrap{
    border-right: #fff 1px solid;
    border-left: #fff 1px solid;
    padding: 0px 20px;
  }
.hero-cards .hero-wrapper{
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  

}
.hero-cards .hero-wrapper .icon img{
  height: auto;
  padding: 2px 4px;
  max-width: 40px;
}
.hero-wrapper .text{
  /* padding-top: 40px; */
  font-size: 1.5rem;
}

.hero-text {
  flex: 1;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.hero-text .btn {
  font-size: 1.6rem;
  padding: 10px 20px;
  background: rgb(18, 146, 174, 0.5);
  background: linear-gradient(
    90deg,
    rgba(18, 146, 174, 1) 12%,
    rgba(123, 193, 183, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.hero-image {
  flex: 1;
  text-align: center;
}
.hero-image img {
  max-width: 80%;
  min-width: 200px;

  height: auto;
}
.stats {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.stats img {
  border-radius: 50%;
  margin-right: 10px;
}
.stats p {
  margin: 0;
}

/* url(icons/appointment.png) */
/* 186F65 */

/* --------------Services Section Code -------------- */

/* #services {
  
  display: flex;
  
  font-size: 1.6rem;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 40px;
  background: rgb(18, 146, 174, 0.5);
  background: linear-gradient(
    90deg,
    rgba(18, 146, 174, 1) 12%,
    rgba(123, 193, 183, 1) 100%
  );
  color: white;
}

.head {
  text-align: center;
  font-size: 1.7rem;
}
.head h1{
  font-size: 5rem;
}
.head p{
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  height: auto;
  max-width: 400px;
  margin: 40px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  text-align: center;
  background: white;
  color: #000;
}

.icon-box img {
  height: 50px;
  width: 50px;
}

 */





/*  Sevices secttion in  */

#services{
  font-size: 2rem;
  padding: 40px 40px;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}


.accordion {
  --_button-size: 3rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  contain: content;
  /* added padding to prevent issue with outlines */
  padding: 0.5rem;

  /* demo only */
  margin-top: 20rem;
}

@media (min-width: 45em) {
  .accordion {
    flex-direction: row;
    height: 30rem;
  }
}

.accordion * {
  margin: 0;
}

.accordion-panel {
  background: rgb(18, 146, 174, 0.5);
  background: linear-gradient(
    90deg,
    rgba(18, 146, 174, 1) 12%,
    rgba(123, 193, 183, 1) 100%
  );
  color: white;
  position: relative;
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: 30px;
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
}


.accordion-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
}

.accordion-trigger {
  outline: 0;
}

.accordion-panel:focus-within {
  outline: 3px solid var(--_panel-color);
  outline-offset: 4px;
}

.accordion-content > p {
  transform: translateY(2rem);
  opacity: 0;

  margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel:has([aria-expanded="true"]) p {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
}

.accordion-panel:has([aria-expanded="true"]) p {
  transform: translateY(0);
  opacity: 1;
}

.accordion-title {
  font-size: 1.5rem;
  font-weight: 700;

  position: relative;
  isolation: isolate;

  display: grid;
  align-items: center;
}

@media (max-width: 44.999em) {
  .accordion-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.5);
    z-index: -1;
    border-radius: 100vw;
  }
}

.accordion-image {
  /* position: absolute; */
  /* inset: 0; */
  height: 100px;
  width: 100px;
  /* object-fit: cover; */
  /* z-index: -1; */

  /* transition: filter 500ms; */
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
  /* filter: brightness(0.5); */
}

.accordion-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;
}

.accordion-icon {
  /* fill: var(--_panel-color); */
  background: hsl(0 0% 0% / 0.55);
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 50%;
  z-index: 10;
}

















































/* About us on people  */
#about-us{
  padding: 20px 40px;
  height: 50vh;
  background-color: #eaf6f6;
}

.about-wrapper{
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
}

.about-wrapper .about-text-box h1{
  text-align: center;
  font-size: 2.5rem;
  color: var(---primary-blue-color);
}
.about-wrapper .about-text-box p{
  font-size: 1.5rem;
  text-align: center;
  
}

.about-wrapper .about-img{
  text-align: center;
  min-width: 500px;
  

}
.about-wrapper .about-img img{
  height: 200px;
  width: 200px;
}