

/*  responsive css for mobile and tab  */

@media only screen and (max-width: 765px) {
    /*  Header responsive */

    header{
        
    }
    header nav{
        display: none;
    }


    .hero{
        flex-direction: column;
    }


   



}


@media only screen and (max-width: 992px) {
    #about-us .about-wrapper{
        flex-direction: column;
    }
}



